:root {
    --black: #000;
    --white: #fff;
    --main-bg-color:#0d0d0e;
    --light-orange:rgb(235, 125, 125);
    --pr-container:#3a3636;
}
.p1-padding{
    padding: 30px 60px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}
body{
    background-color: var(--main-bg-color);
    color: var(--white);
}
/* Navbar */
header {
    height: 10vh;
    width: 100%;
    background-color: var(--black);
    box-shadow: 0 5px 15px rgba(81, 81, 81, 0.08);
}

header nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

header nav ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-right: 4rem;
}

header nav ul li {
    list-style: none;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0 2rem;
    position: relative;
}

header nav ul li::after {
    content: '';
    display: block;
    width: 0;
    height: 0.5px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: width 0.3s ease;
}

header nav ul li:hover::after {
    width: 100%;
}

header nav ul li:hover {
    transform: scale(1.06);
}

header nav ul li a {
    color: var(--white);
    text-decoration: none;
}
/* Main body */

main {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--main-bg-color);
}
main #content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 10rem; */
}
main #content .img-and-contact{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main #content .img-and-contact .main-img img{
    height: 330px;
    width: 330px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    padding: 5px;
    border: 0.5px solid var(--white);
    transition: all 0.3s ease;
}
main #content .img-and-contact img:hover{
    padding: 0px;
    border: none;
   
}
main #content .img-and-contact .contact{
    margin-top: 15px;
}
main #content .img-and-contact .contact a img{
    height :40px;
    width: 40px;
    background-color: var(--white);
    border-radius: 50%;
    padding: 5px;
    margin: 0 5px;
    transition: all 0.4s ease;

}
main #content .img-and-contact .contact a img:hover{
   transform: translateY(-10px);
    border-radius: 10%;
}
main #content .introtext{
    color: var(--white);
    width: 50%;


}
main #content .introtext h1{
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 10px;
}
main #content .introtext h2{
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 10px;
    margin-left: 30px;
    transition: all 0.3s ease;

}
main #content .introtext h2 span{
    color:var(--light-orange) ;
    font-weight: 400;
    /* transition: all 0.3s ease; */
    position: relative;
    cursor:text;
}
main #content .introtext h2 span::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color:rgb(235, 125, 125) ;
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}
main #content .introtext h2 span:hover::after{
    width: 100%;
}
main #content .introtext h5{
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 10px;
    margin-left: 30px;
}
/* About Section */
#about-sect{
    height: 90vh;
    width: 100%;
}
#about-sect #about-content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:baseline;
    align-items:baseline;
    flex-direction: column;
    padding: 0 10rem;
}
#about-sect #about-content .about-heading{
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 10px;
}
#about-sect #about-content .abt-text{
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 10px;
    line-height: 1.5;
}

/* Project sect */
#projects{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    padding: 0 12rem;
}
#projects .project-heading{
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 10px;
}
#projects #main-project-container{
    height: 50%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 50px 0px;
    background-color: var(--pr-container);
}
#projects #main-project-container .main-projects{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
}
#projects #main-project-container .main-projects .project-main-img {
    height: 100%;
    width: 50%;
}

#projects #main-project-container .main-projects .project-main-img img{
    height: 100%;
    width: 100%;
}
#projects #main-project-container .main-projects .text-and-others{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 30px;
    
}
#projects #main-project-container .main-projects .text-and-others .head-and-about{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
}

#projects #main-project-container .main-projects .text-and-others .head-and-about .pr-name{

    font-size: 2rem;
    font-weight: 500;
    color: var(--white);
    border-bottom: 2px solid var(--white);
}
#projects #main-project-container .main-projects .text-and-others .head-and-about .pr-details{
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--white);
    line-height: 1.5;
}

#projects #main-project-container .main-projects .text-and-others .tools-and-link{
    height: 40%;
    width:100%;
}
#projects #main-project-container .main-projects .text-and-others .tools-and-link .tools{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
}
#projects #main-project-container .main-projects .text-and-others .tools-and-link .tools h5{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--white);
}

#projects #main-project-container .main-projects .text-and-others .tools-and-link .tools table{
  
  margin-left: 70px;
 border-collapse: collapse;
 width: 60%;
}
#projects #main-project-container .main-projects .text-and-others .tools-and-link .tools table td{
    font-size: 1rem;
    font-weight: 300;
    color: var(--white);
    padding: 2px;
}

#projects #main-project-container .main-projects .text-and-others .tools-and-link .tools table td::before {
    content: "\2022"; 
    padding-right: 10px;
  }

#projects #main-project-container .main-projects .text-and-others .tools-and-link .link{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
}
#projects #main-project-container .main-projects .text-and-others .tools-and-link .link a img
{
    height :30px;
    width: 30px;
    background-color: transparent;
    border-radius: 10%;
    padding: 2px;
    margin: 0 5px;
    transition: all 0.3s ease;
}

#projects #main-project-container .main-projects .text-and-others .tools-and-link .link a img:hover{
    transform: scale(1.19);
    border-radius: 50%;
}   

 
