
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    -webkit-tap-highlight-color: transparent;
}
body{
    background-color: var(--main-bg-color);
    color: var(--white);
}
/* Navbar */
header {
    height: 10vh;
    width: 100%;
    background-color: var(--black);
    box-shadow: 0 5px 15px rgba(81, 81, 81, 0.08);
}

header nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

header nav .navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-right: 4rem;
    
}
header nav .navbar .header-img {
   
    height: 50px;
     width: 50px;
     position: absolute;
     left: 4rem;

 }
 header nav .navbar .header-img img{
     height: 100%;
     width: 100%;
     border-radius: 50%;
     cursor: pointer;
 }

header nav .navbar li {
    list-style: none;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0 2rem;
    position: relative;
}

  .navbar .close{
    display: none;
}
header nav .tab{
    display: none;
}
header nav .navbar li::after {
    content: '';
    display: block;
    width: 0;
    height: 0.5px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: width 0.3s ease;
}

header nav .navbar li:hover::after {
    width: 100%;
}

header nav .navbar li:hover {
    transform: scale(1.06);
}

header nav .navbar li a {
    color: var(--white);
    text-decoration: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
    /* opacity: 0; */
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px;
    max-height: 100vh;
}

.close {
    color: #fff;
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 30px;
    cursor: pointer;
    transition: opacity 0.3s ease; 

}
.close:hover {
    color: #bbb;
}
/* Main body */

main {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--main-bg-color);
}
main #content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main #content .img-and-contact{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main #content .img-and-contact .main-img img{
    height: 350px;
    width: 350px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    padding: 0px;
    animation: floatAnimation 3s ease-in-out infinite;    
    transition: all 0.5s ease;
    box-shadow: 0px 0px 19px 0px rgb(173 151 151 / 40%);}

@keyframes floatAnimation {
    0%,100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(5px);
    }
}
main #content .img-and-contact .main-img img:hover{
   animation: none;
}

main #content .img-and-contact .contact{
    margin-top: 15px;
}
main #content .img-and-contact .contact a img{
    height :40px;
    width: 40px;
    background-color: var(--white);
    border-radius: 50%;
    padding: 5px;
    margin: 0 5px;
    transition: all 0.3s ease;

}
main #content .img-and-contact .contact a img:hover{
   transform: translateY(-10px);
    border-radius: 10%;
}
main #content .introtext{
    color: var(--white);
    width: 50%;


}
main #content .introtext h1{
    margin: 10px 0;

}
main #content .introtext h2{
    margin-bottom: 10px;
    margin-left: 30px;
    transition: all 0.3s ease;

}
main #content .introtext h2 span{
    color:var(--light-orange) ;
    font-weight: 400;
    position: relative;
    cursor:text;
}
main #content .introtext h2 span::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color:rgb(235, 125, 125) ;
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}
main #content .introtext h2 span:hover::after{
    width: 100%;
}
main #content .introtext h5{
    
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 80px;
}

main #content .introtext p{
    margin-bottom: 0.8rem;
}
/* About Section */
#about-sect{
    margin-top: 30px;
    height: 100vh;
    width: 100%;
}
#about-sect #about-content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items:start;
    flex-direction: column;
    padding-left: 40px;
}
#about-sect #about-content .about-heading {
    
    margin-bottom: 20px;
}
#about-sect #about-content .abt-text p{
    
    margin-bottom: 10px;
    line-height: 1.5;
    margin-right: 80px;
    text-align: justify;
}

  #about-sect #about-content .abt-text p:nth-child(5) {
    margin-bottom: 1em; 
  }
/*Main Project section */
#projects{
    height: 1100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 0 12rem; */
}
#projects .project-heading{
    margin-bottom: 10px;
}
#projects .main-projects{
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
    background-color: var(--pr-container);
    border-radius: 10px;
    overflow: hidden;
    margin: 50px 0px;
}
#projects .main-projects .main-pr-image {
    height: 100%;
    width: 50%;
    overflow: hidden;
    position: relative ;
}



#projects .main-projects .main-pr-image img {
    height: 100%; 
     width: 100%;
}

#projects .main-projects .main-pr-image .overlay{
    position: absolute;
  bottom: 0;
  right: 0;;
  margin: 5px 15px;
}
#projects .main-projects .main-pr-image .overlay a img{
    height: 25px;
    width: 25px;
    transition: all 0.3s ease;
    margin: 0 3px;
    background-color: var(--white);
    border-radius: 50%;
    padding: 5px;
    transition: all 0.3s ease;
}
#projects .main-projects .main-pr-image:hover .overlay a img:hover{
    transform: scale(1.1);

}

#projects .main-projects .text-and-others{
    height: 100%;
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 30px;
    
}
#projects .main-projects .text-and-others .head-and-about{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
}

#projects .main-projects .text-and-others .head-and-about .pr-name{

    color: var(--white);
    border-bottom: 1.5px solid var(--white);
}
#projects .main-projects .text-and-others .head-and-about .pr-details{
    font-size: 1.1rem;
    color: var(--white);
    line-height: 1.5;
    
    margin: 15px 0;
}

#projects .main-projects .text-and-others .tools{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    border-top: 1px solid var(--white);
    flex-wrap: wrap;
}
#projects .main-projects .text-and-others .tools h5{
    margin-bottom: 10px;
    color: var(--white);
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: start;
}

#projects .main-projects .text-and-others .tools h5 .tool-logo img{
    height: 30px;
    width: 30px;
    margin-right: 3px;
    margin-top: 5px;
}
#projects .main-projects .text-and-others .tools h5 .tool-logo{
    display: inline;
}




/* mini-project section */
#other-projects {
 display: flex;
    justify-content: center;
    align-items: center;
}
#other-projects .small-pr-containers{
    background-color: var(--pr-container);
    text-align: center;
    padding: 20px 10px;
    border-radius: 10px;

    max-width: 700px;
    min-width: 300px;
    width: auto;
}
#other-projects .small-pr-containers h2{
    color: var(--white);
    margin-bottom: 20px;
    
}
#other-projects .small-pr-containers .small-pr{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}
#other-projects .small-pr-containers .small-pr .pr{
    max-height:50px ;
    max-width: 300px;
    width: 100%;
    margin: 10px 10px;
    padding: 7px 10px;
    border-radius: 5px;
    background-color: var(--white);
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#other-projects .small-pr-containers .small-pr .pr .text h5{
    color: var(--black);
    /* margin-bottom: 10px; */
    font-weight: 300;
    
} 
#other-projects .small-pr-containers .small-pr .pr .text p{
    color: var(--black);
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 1.5;
}

#other-projects .small-pr-containers .small-pr .pr i{
    color: var(--black);
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
#other-projects .small-pr-containers .small-pr .pr i:hover{
    transform:translateX(3px);
    color: var(--light-orange);
}

/* Form Section */
#form-section{
    max-width: 100%;
    /* height: 50vh; */
    margin-top: 100px;
}

#form-section .contact-form{
    padding: 50px 0px;

    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
}

#form-section .contact-form .contact{
    margin-right: 10px;
}
#form-section .contact-form .contact h2{
    font-weight: 500;
}
#form-section .contact-form .contact a img{
    height :35px;
    width: 35px;
    background-color: var(--white);
    border-radius: 50%;
    padding: 5px;
    margin: 0 5px;
    transition: all 0.3s ease;
    margin-top: 20px;

}
#form-section .contact-form .contact a img:hover{
    transform: translateY(-10px);
    border-radius: 10%;
}

#form-section .contact-form .form form{
    width: 500px;;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#form-section .contact-form .form form input{
    height: 40px;
    width: 100%;
    margin-bottom: 25px;
    padding: 5px 0px;
    border: none;
    border-bottom: 1px solid var(--white);
    background-color: transparent;
    color: var(--white);
    outline: none;
    transition: all 1s ease;
    font-size: 16px;
}
#form-section .contact-form .form form input:focus, #form-section .contact-form .form form textarea:focus{
    border-bottom: 1px solid var(--light-orange);
}

#form-section .contact-form .form form input::placeholder, #form-section .contact-form .form form textarea::placeholder{
font-size: 16px;
/* text-transform: capitalize; */
}

#form-section .contact-form .form form textarea{
    height: 150px;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 0px;
    border: none;
    border-bottom: 1px solid var(--white);
    background-color: transparent;
    color: var(--white);
    outline: none;
    transition: all 0.3s ease;
    resize: none;
    font-size: 16px;

}
#form-section .contact-form .form form button{
    margin-top: 10px;
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 0px;
    border: none;
    border-radius: 5px;
    background-color: var(--light-orange);
    color: var(--white);
    /* outline: none; */
    transition: all 0.3s ease;
}
#form-section .contact-form .form form button:hover{
    background-color: var(--white);
    color: var(--light-orange);
    box-shadow: 0 5px 15px rgba(235, 125, 125, 0.4);
    cursor: pointer;
}
#form-section .contact-form .form form button:focus{
    outline: none;
}
/* Footer */
footer{
    margin-top: 50px;
    height: 10vh;
    width: 100%;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
footer h6{
    color: var(--white);
    margin-bottom: 10px;
}
